html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: "Noto Sans Mono", sans-serif;
}

:root {
	--black: #3B434E;
	--graylight: #EBEBEB;
	--white: white;
	--primary: #7653FC;
	--primaryhover: #6344DF;
	--red: #FC836D;
	--green: #1DC37E;
	--greenlight: #C8F8E4;
	--fontfamily: "Noto Sans Mono", sans-serif;
}
